* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: lightgray;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  }
  
  header h1{
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .quizCont {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .option-btn {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    font-size: large;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .option-btn:hover {
    background-color: rgb(6, 166, 6);
  }